%header
  .top-bar
    .top-bar-content
      %h1= link_to "yelp"
      %a.sign_up Sign up
  %nav
    %ul
      %li= link_to 'Businesses', root_path
      %li= link_to 'Add business', new_business_path
      %li See recent reviews
      %li.login Log in
    