%h2 Businesses

%ul.businesses
  %li.business
    %h3 
      %a(href="#") Pizza Emporium
    %p.rating 
      3.4 / 5 
      %span from 8 reviews
    %p.price $$$
    %p.description The only place you need to go to eat pizza in town
  %li.business
    %h3 
      %a(href="#") Mario's pizza
    %p.rating 
      4.1 / 5 
      %span from 11 reviews
    %p.price $$$$$
    %p.description Mario is a delight to work with