%h2 Sign up

%form#sign-up
  %label(for="name") Username
  %input(type="text"  name="username")
  %label(for="name") Email
  %input(type="email"  name="email")
  %label(for="password") Password
  %input(type="password"  name="email")
  %input(type="submit")  